/*general*/
  body{
    margin-top:0;
    margin-bottom:0;
    margin-right:0;
    font-family:Charter,Helvetica;
    overflow-y:scroll;
  }

  input{
    outline:none;
    padding:4px;
    border-width:1px;
    border-right:none;
  }
  input:hover{
    border-color:#ccc;
  }

  button{
    outline:none;
    border-width:1px;
  }

  ul{
    padding-left:0;
    margin:0;
    font-size:smaller;
    list-style:none;
  }

  p{
    margin:0.5em 0;
  }

  select{
    font-family:monospace;
  }

  hr{
    margin-bottom:2px;
    border:none;
    border-bottom:1px solid #ccc;
  }

  body > hr, #main > hr {
    margin-left:-8px;
  }



/*classes*/
  .flex{
    display:flex;
    flex-wrap:wrap;
  }

  .separador{
    margin:1px;
  }

/*elements*/
  h3#titol{
    margin:6px 0;
  }

  #nom_usuari{
    display:block;
  }

  #btn_entrar{
    display:block;
  }

  #usuaris{
    padding-left:2px;
    padding-right:1px;
    background:#f5f5f5;
    height:168px;
    overflow-y:auto;
    box-shadow:inset 0 0 1px black;
  }

  #xat{
    box-shadow:inset 0 0 1px black;
    background:#f5f5f5;
    font-family:monospace;
    height:165px;
    overflow-y:auto;
    width:400px;
    padding-bottom:3px;
  }

  #missatge{
    width:290px;
    display:block;
  }

  #partides{
    background:#f5f5f5;
    box-shadow:inset 0 0 1px black;
    height:168px;
    padding-left:1px;
    padding-right:1px;
    overflow-y:auto;
  }
  #partides hr{
    margin-bottom:0px;
  }

  #btn_missatge{
    display:block;
  }

  footer{
    margin-top:1px;
    margin-left:-8px;
    padding:8px 0 0 8px;
    height:100px;
    background:linear-gradient(to top,white,black);
    color:grey;
    font-family:monospace;
  }

  footer a {
    color:grey;
  }
