
/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px) { }

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) { }

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #top_container,
  #xat_container,
  #xat,
  #partides_usuaris_container,
  #partides,
  #usuaris {
    width:100%;
  }

  #partides_usuaris_container {
    justify-content:center;
  }

  #usuaris_container {
    margin-left:2px;
  }

  #tapet_container {
    width:100%;
  }

  #tapet, #log {
    width:100%;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) { }

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) { }
